<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="client.js" charset="utf-8"></script>
  <meta charset="utf-8">
  <title>RECORD INVENTORY</title>
</head>

<body>
  <h1>RECORD INVENTORY</h1>
  <div class="input">
    <input type="text" id="artist" placeholder="Artist">
    <input type="text" id="album" placeholder="Album">
    <select class="rating" name="">
      <option value="1">1</option>
        <option value="2">2</option>
          <option value="3">3</option>
            <option value="4">4</option>
              <option value="5">5</option>


    </select>
    <button type="button" id=add>ADD RECORD</button>
  </div>
  <div class="display">

  </div>
</body>

</html>
